<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <tr>
    <div class= "field">
    <td><%= form.label "Your name:" %></td>
    <td><%= form.text_field :author, :size => "70" %> </td>
    <td></td>
    </div>
  </tr>
  <tr>
    <div class= "field">
    <td><%= form.label "Your tweet:" %></td>
    <td><%= form.text_area :content, cols: 70, rows: 2 %></td>
    </div>
    <td><div class="actions"><%= form.submit "Tweet!" %></div></td>
  </tr>
  

  
<% end %>
