<body class = "wotbody">
<h1 class="wottitle">Wall of Tweets - RoR Edition 2022</h1>
<div class="walltweet">
  <form action="/tweets" accept-charset="UTF-8" method="post">
    <input type="hidden" name="authenticity_token" value="V3M0VLW93lv3xNHlbdQWvfft_tf9YhQRuvh75GQg5NSjzvFuKM3EBXH65WN5GiGu15ED1PdX-8c_dfjgCUfp_w">
  <table border="0" cellpadding ="2">
    <tbody>
      <%= render 'form', tweet: Tweet.new %>
    </tbody>
  </table>
  </form>
</div>

<div id="notice"><%= notice %></div>
<br>
    <% a = "data" %>
    <% @tweets.each do |tweet| %>

        <% if a != tweet.created_at.strftime("%Y-%d-%m")%>
          <% a = tweet.created_at.strftime("%Y-%d-%m") %>
          <h3>...... <%= tweet.created_at.strftime("%A, %B %d, %Y") %></h3>
        <%end%>
        <tr>
          <div class="wotitem" id=tweet.id>
            <div class="likes">
              <span class="numlikes" id=tweet.id><%= tweet.likes %></span>
              <br>
              <span class="smallfont">
                "people like this"
                <span>
                  <br>
                  <h3>
                    <td><%= link_to 'like', like_tweet_path(tweet), method: :put %></td>
                    </h3>
                </span>
              </span>
            </div>
            
            <div class="item">
              <h4>
                <em><%= tweet.author %></em>
                @ <%= tweet.created_at.strftime("%H:%M") %>
              </h4>
              <p><%= tweet.content %></p>
              <p style="text-align: right;">
              <a data-confirm="Are you sure?" <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></a>
              </p>
            </div>
        </div>
        </tr>
      
    <% end %>
  </tbody>
<br>
</body>
